# Code owners for rnaquarium-figures.
# These users are requested for review on any pull request, and are
# responsible for everything in this repository unless overridden below.
* @yttria-aniseia @ewaltari @duopeng @leoisl @hejin0701 @senbabay @keir-0
